body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #0D2C54, #F6511D);

    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #00A6ED;
}

header h1 {
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    color: #0D2C54;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #7FB800;
}

header nav a {
    padding: 1em;
    font-size: 1.4rem;
    font-family: sans-serif;
    text-decoration: none;
    color: #0D2C54;

    transition: 500ms;
}

header nav a:hover {
    background-color: #FFB400;
}

.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0.5rem;
    transition: 500ms;
    
    display: none;
}

.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.menu-btn-container {
    display: flex;
    justify-content: center;
    /* margin: auto 1rem; */
    background-color: #7FB800;
}

.menu-btn:hover {
    background-color: #FFB400;
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 26, 27, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer:target { /* :target selector check if specific ID is added to URL */
    display: block;
}

#side-drawer header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8%;
    background-color: #7FB800;
}

#side-drawer ul {
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-drawer li {
    margin: 1rem 0;
}

#side-drawer nav {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-drawer nav  a {
    color: rgb(253, 239, 213);
    font-size: 2rem;
    margin: 1rem 0;

    padding: 5% 10%;

    font-family: sans-serif;
    text-decoration: none;
    /* color: #0D2C54; */

    transition: 500ms;
}

#side-drawer a:hover {
    color: #0D2C54;
    background-color: #FFB400;
}

@media (max-width: 75rem) {
    header h1 {
        font-size: 1.9rem;
    }
    
    header nav a {
        font-size: 1.2rem;
    }
}

@media (max-width: 36.5rem) {
    header h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 30rem) {
    header h1 {
        /* font-size: 1.5rem; */
    }
    
    .menu-btn {
        display: flex;
    }

    header nav {
        display: none;
    }
}